<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: #fff;
      }
      
      h3
      {
        font-size: 15px;  
        margin-bottom: 5px;
      }
      
      a,
      ul li a,
      .ii a[href] {
        color: #000!important;
        font-weight: bold;
      }
      .no-link a {
        color: #D6523D !important;
        text-decoration: none;
      }
      strong, b {
        font-weight: 700;
        color: #000;
      }
      .publisch {
        color: #808080;
        font-size: 13px;
        font-weight: 300;
      }
      .content_text {
        font-size: 15px;
        line-height: 25px;
        color: #4e4e4e;
        padding: 30px 60px 40px;
      }
      .content_text ul {
        padding: 0px 0px 10px;
        margin: 0;
      }
      .content_text ul.update_block li {
        color: #000;
        font-weight: 300;
        list-style: none;
        margin: 0;
        font-size: 13px;
      }
      
      .content_text ul.update_block .release_notes li
      {
        list-style: none;
        color: #4e4e4e;
        font-weight: 300;
        margin: 0;
        padding: 0 0 0 30px;
        background: url('https://limesquare-2018.s3.amazonaws.com/updatify/improved.png') left top 5px no-repeat;
      }
      .content_text ul li.improved {
        list-style: none;
        color: #4e4e4e;
        font-weight: 300;
        margin: 0;
        padding: 0 0 0 30px;
        background: url('https://limesquare-2018.s3.amazonaws.com/updatify/improved.png') left center no-repeat;
      }      
      .content_text ul li.fixed {
        list-style: none;
        color: #4e4e4e;
        font-weight: 300;
        margin: 0;
        padding: 0 0 0 30px;
        background: url('https://limesquare-2018.s3.amazonaws.com/updatify/fixed.png') left center no-repeat;
      }      
      .content_text ul li.added {
        list-style: none;
        color: #4e4e4e;
        font-weight: 300;
        margin: 0;
        padding: 0 0 0 30px;
        background: url('https://limesquare-2018.s3.amazonaws.com/updatify/added.png') left center no-repeat;
      }
      .kritieke_update {
        color: #D6523D;
        font-size: 16px;
        font-weight: 700;
        padding-bottom: 5px;
      }
      .red {
        background: #d6523d;
        font-weight: 700;
        color: #fff;
        padding: 3px 10px;
      }
      .info {
        color: #000;
        font-size: 16px;
      }
      .update_block {
        padding: 20px 0;
      }
      .update_title {
        color: #000;
        font-weight: 700;
        margin: 0;
        padding: 0 0 10px;
        font-size: 17px;
      }
      .update_title.craft_updates {
        padding-top: 16px;
        border-top: 1px solid #808080;
        color: #d6523d;
      }
      .aanhef {
        color: #000;
        font-size: 20px;
        font-weight: 700;
        margin: 0;
        padding: 0px;
      }
      .plugin_name {
        color: #d6523d;
        font-weight: 700;
        list-style: none;
        margin: 0;
        font-size: 17px;
        padding-top: 16px;
        border-top: 1px solid #808080;
        margin-top: 19px;
      }
      .legenda {
        padding-bottom: 15px;
        color: #000;
      }
      .legenda img {
        vertical-align: sub;
      }
      .version {
        margin-top: 20px;
        font-size: 15px;
      }
    </style>
  </head>
  <body>
  <table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" style="min-width:auto;background:#ffffff">
      <tbody>
          <tr>
              <td align="center" valign="top" width="100%">
                  <table border="0" cellpadding="0" cellspacing="0" width="750" bgcolor="#ffffff" style="font-size:13px;min-width:auto;max-width:750px">
                      <tbody>
                          <tr>
                              <td valign="top" align="center" width="750" style="background-color:#f1f1f1">
                              <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#f1f1f1">
                                  <tr>
                                    <td>
                                      <img src="https://limesquare-2018.s3.amazonaws.com/updatify/header.jpg">
                                    </td>
                                  </tr>
                              </table>
                              
                              <table class="content_text" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#f1f1f1">
                                  <tr>
                                    <td>
                                      <span class="aanhef">Beste {{ firstname }},</span><br><br>
                                        {% if updates.hasCritical %}
                                          Voor het CMS van je website "{{ siteName }}" is een kritieke update beschikbaar. Om je website veilig en verantwoord te blijven gebruiken raden wij je ten zeerste aan de update serieus te nemen en te installeren.
                                          De lijst onderaan deze mail laat zien welke updates en verbeteringen er nog meer beschikbaar zijn om je website optimaal te laten functioneren.
                                        {% else %}
                                          In deze mail informeren we je over de huidige status van het CMS van je website "{{ siteName }}".<br>
                                          De lijst onderaan deze mail laat zien welke updates en verbeteringen er beschikbaar zijn om je website veilig, verantwoord en optimaal te laten functioneren.
                                        {% endif %}
                                        <br><br>
                                        Om alle verbeterpunten en updates door te voeren heb je een SLA (Service Level Agreement) nodig. Voor de website is geen SLA afgesloten.
                                        Mocht je hierin geïnteresseerd zijn, dan vernemen wij dat graag. Mareille kan je hierbij helpen. Ze is telefonisch bereikbaar via 053 430 4179 of per mail via <a href="mailto:mareille@limesquare.nl">mareille@limesquare.nl</a>.<br><br>
                                      
                                        Een overzicht van de beschikbare updates voor jouw website: <br><br>

                                        <div class="update_title craft_updates">
                                          Craft updates ({{ updates.cms.releases|length }}):
                                        </div>
                                        <div class="info">
                                          
                                          Huidige versie: {{ craft.app.version|default('') }}<br>
                                          Beschikbare versie: {{ updates.cms.latest.version|default('') }}<br>
                                        </div>

                                        <ul class="update_block">
                                        {% for release in updates.cms.releases %}
                                            <li>
                                                <div class="version">Versie {{ release.version }}{% if release.critical %} <span class="red">Kritische</span>{% endif %}</div> 
                                                <span class="publisch">Gepubliceerd op {{ release.date | date('d-m-Y') }}</span><br> 
                                                <div class="release_notes">
                                                  {{ release.notes|replace({'{%': ' ', '%}': ' '})|raw }}
                                                </div>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    </td>
                                  </tr> 
                                  {% if availablePluginUpdates > 0 %}
                                  <tr>
                                    <td>
                                        <div class="update_title">
                                          Plugin updates:
                                        </div>
                                    </td>
                                  </tr>
                                    {% for handle, plugin in updates.plugins %}
                                        {% if plugin.releases|length > 0 %}
                                          <tr>
                                                <td>
                                                    <div class="plugin_name">
                                                    {{ craft.app.getPlugins().getPlugin(handle).name }} ({{ plugin.releases|length }})<br>
                                                    </div>
                                                    <ul class="update_block">
                                                        {% for release in plugin.releases %}
                                                            <li>
                                                                <div class="version">Versie {{ release.version }}{% if release.critical %} <span class="red">Kritische</span>{% endif %}</div>
                                                                <span class="publisch">
                                                                Gepubliceerd op {{ release.date | date('d-m-Y') }}
                                                                </span><br> 
                                                                <div class="release_notes">
                                                                  {{ release.notes|replace({'{{': '', '{%': '', '}}': '', '%}': '' })|raw }}
                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                          </tr> 
                                    {% endif %}
                                {% endfor %}
                              {% endif %}
                              </table> 
                              
                              <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#f1f1f1">
                                  <tr>
                                    <td>
                                      <img src="https://limesquare-2018.s3.amazonaws.com/updatify/footer.jpg">
                                    </td>
                                  </tr>
                              </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
              </td>
          </tr>
      </tbody>
  </table>
</body>
</html>
